

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://images.unsplash.com/photo-1525625293386-3f8f99389edd?auto=format&fit=crop&w=1600&q=80') center/cover;
  color: white;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero .btn-light {
  transition: transform .3s ease;
  border: none;
}

.hero .btn-light:hover {
  transform: translate(2px, -2px);
  background-color: #dc3545;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
}

.section-title {
  text-align: center;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 30px;
}

footer {
  background: #dc3545;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

.card {
  transition: all 0.5s ease;


}

.card:hover {
  border-radius: 5px 5px;
  transform: translate(2px, -2px);
  background-color: #dc3545;
  color: white;
}

.card:hover .btn-danger {
  background-color: white;
  color: #dc3545;
  border: 1px solid #dc3545;
}

.laws ul li {
  border-radius: 20px 20px;
  transition: transform 0.5s ease;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.laws ul li:hover {
  transform: translate(2px, -2px);
  background-color: #dc3545;
  border-radius: 20px 20px;

}

/* Ad Placeholder Styling

     .ads-placeholder {
      text-align: center;
      background: #f8f9fa;
      padding: 15px;
      margin: 20px 0;
      border-radius: 8px;
      border: 1px dashed #ccc;
    }  */

#dosdonts ul li {
  margin-bottom: 10px;
}